# Environment variables / secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.venv/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Model / Data Cache
*.log
.vercel
*.pkl
datasets/*.pkl
interview_analyzer/storage/*.pkl

# Testing & Virtual Environments
.pytest_cache/
venv/
env/

# PDF Reports
*.pdf

