# Environment variables / secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.venv/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Model / Data Cache
datasets/tfidf_cache.pkl
server.log
.vercel
